*{
    margin: 0;
    padding: 0;
}

.body{ 
    background-image: url(https://1.bp.blogspot.com/-sSN861QesLc/YE9R3zIATlI/AAAAAAABI1E/Wn4HRf_hz5QvRDtEXRCt8qdCGpnTjLhCACLcBGAsYHQ/s2560/city_street_aerial_view_201163_2560x1440.jpg);
    background-attachment: fixed;     
}

.container{
    max-width: 1460px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.img_logo{
    width: 216px;
    height: 33px;

}
.header{
    width: 1460px;
    display: flex;
    justify-content: space-between;   
    margin-top: 37px;
}

.feedback_button{
    box-sizing: 218px;
    padding: 10px 26px;
    border: 1px solid #E4B564;
    display: inline-block;
}

.feedback_button_link{
    text-decoration: none;
    width: 144px;
    font-family: 'Circe';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;
    padding-left: 10px;

}
 
.about_us{
    margin-top: 128px;
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    color: #FFFFFF;
}

.headline{
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
}

.about_us_text{
    width: 1182px;
    font-size: 20px;
    line-height: 28px;
    padding: 41px 0;
}

.about_us_box{
    display: grid;
grid-template-columns: minmax(100px, 467px) minmax(100px, 233px) minmax(100px, 233px) minmax(100px, 467px);    
grid-template-rows: 468px 468px;
grid-row-gap: 27px;
grid-column-gap: 25px;
font-size: 20px;
line-height: 28px; 
justify-content: center;  
}

.about_us_box>li{
    display: flex;
justify-content: center;
align-items: center;
text-align: center;
}

.about_us_box1{
    grid-column: 1/2;
grid-row: 1;
background: #634F2C;
margin-right: 9px;
}

.about_us_box2{
    grid-column: 2/4;
grid-row: 1;
background: #B4A385;
}

.about_us_box3{
   grid-column: 4/5;
grid-row: 1;
background: #E4B564;
}

.about_us_box4{
    grid-column: 1/3;
grid-row: 2;
margin-right: 5px;
background: #635A4A;
}

.about_us_box5{
    grid-column: 3/5;
grid-row: 2;
background: #B08C4D;
}

.details{
    padding-top: 81px;
    background-image: url(https://images.wallpaperscraft.ru/image/single/gorod_zdaniia_doroga_217579_1920x1080.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.details_box{
    margin-top: 94px;
display: grid;
justify-content: center;  
grid-template-columns: repeat(3, minmax(100px, 467px));
grid-template-rows: 255px 30px auto 156px 277px;
row-gap: 24px;
column-gap: 29px;
grid-template-areas: 
    "details_box1 details_box2 details_box3"
    "details_box1 details_box2 details_box6"
    "details_box4 details_box2 details_box6"
    "details_box4 details_box5 details_box6"
    "details_box4 details_box5 details_box7";

}

.details_box1{
    grid-area: details_box1;
    background: #0E0E0E;
}

.details_box2{
    grid-area: details_box2;
    background: #242424;
}

.details_box3{
    grid-area: details_box3;
    background: #1F1F1F;
}

.details_box4{
    grid-area: details_box4;
    background: #1F1F1F;
}

.details_box5{
    grid-area: details_box5;
    background: #E4B564;
    height: 95%;
}

.details_box6{
    grid-area: details_box6;
    background: #0E0E0E;
}

.details_box7{
    grid-area: details_box7;
    background: #0A0909;
}

.details_box_text{
    width: 302px;    
font-family: 'Gilam';
font-style: normal;
font-size: 20px;
line-height: 25px;
display: flex;
}    

.details_text1{
    font-weight: 400;
color: #FFFFFF; 
margin-top: 44px;
margin-left: 52px;

}

.details_text2{
    font-weight: 400;
color: #FFFFFF;
margin-top: 44px;
margin-left: 51px;
}

.details_text3{
    font-weight: 500;
color: #FFFFFF;
margin-top: 44px;
margin-left: 48px;
}

.details_text4{
    font-weight: 500;
color: #FFFFFF;
margin-top: 56px;
margin-left: 52px;
}

.details_text5{
    font-weight: 500;
color: #000000;
margin-top: 47px;
margin-left: 52px;
}

.details_text6{
    font-weight: 500;
color: #FFFFFF;
margin-top: 44px;
margin-left: 48px;
}

.details_text7{
    font-weight: 700;
color: #FFFFFF;
margin-top: 44px;
margin-left: 48px;
}

.projects{
    padding: 352px 0 239px;
    background-image: url(https://i.pinimg.com/originals/02/c7/87/02c78727e76ff395be7ed2cb9f72074e.jpg);
   background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.projects_headline{
    display: flex;
align-items: center;
justify-content: space-between;  
}

.projects_button{
    width: 180px;
box-sizing: border-box;
padding: 10px 40px;
border: 1px solid #E4B564;
text-decoration: none;
color: #E4B564;
font-family: 'Circe';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px; 
}

.projects_box{
    display: grid;
grid-template: repeat(2, minmax(100px, 391px)) / repeat(3, minmax(100px, 487px));
margin-top: 72px;
justify-content: center;  
}

.projects_box1{
    background: #634F2C;
}

.projects_box2{
    background: rgba(232, 210, 171, 0.76);  
display: flex;
flex-direction: column; 
}

.projects_box3{
    background: #E4B564; 
}

.projects_box4{
    background: #635A4A;   
}

.projects_box5{
    background: #B08C4D; 
display: flex;
flex-direction: row;  
}

.projects_box6{
    background: #634F2C   
}

.projects_box>li{
    display: flex;
justify-content: center;
align-items: center;
text-align: center;
}

.projects_box2>p{
    width: 326px;
font-family: 'Gilam';
font-style: normal;
font-size: 22px;
line-height: 28px;
text-align: center;
color: #FFFFFF;
margin-top: 16px;
}

.projects_box_text1{
    font-weight: 600;  
}
